<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js" integrity="sha512-aUhL2xOCrpLEuGD5f6tgHbLYEXRpYZ8G5yD+WlFrXrPy2IrWBlu6bih5C9H6qGsgqnU6mgx6KtU8TreHpASprw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light px-1">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_homepage') }}">
            <p class="pl-2 d-inline font-weight-bold" style="color: #444;">
                Cauldron Overflow</p>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapsable" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapsable">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_profile') }}">Profile</a>
                </li>
            </ul>
            <div class="d-inline-flex ">
                <a href="{{ path('app_cart') }}" class="m-2">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
                <p class="items_number m-2"></p>
            </div>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}




            <div class="dropdown">
                <button
                        class="dropdown-toggle btn"
                        type="button"
                        id="user-dropdown"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                >
                    <img
                            src="{{ app.user.avatarUri }}"
                            alt="{{ app.user.displayName }} Avatar">
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-dropdown">

                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <li>
                            <a class="dropdown-item" href="{{ path('app_homepage' , {
                                '_switch_user':'_exit'
                            }) }}">Exit Impersonation</a>
                        </li>
                    {% else %}
{#                        <li>#}
{#                            <a class="dropdown-item" href="{{ path('app_2fa_enable') }}">Enable 2fa</a>#}
{#                        </li>#}
{#                        <li>#}
{#                            <a class="dropdown-item" href="{{ path('app_2fa_disable') }}">Disable 2fa</a>#}
{#                        </li>#}
                        <li>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Log Out</a>
                        </li>
                        <li>
                            <a class="nav-link text-black-50 m-2" href="{{ path('app_cart') }}">Cart </a>
                        </li>
                    {% endif %}

                </ul>
            </div>
            {% else %}
            <a class="nav-link text-black-50 m-2" href="{{ path('app_login') }}">Log In </a>
            <a href="{{ path('app_register') }}" class="btn btn-dark m-2">Sign up</a>
            {% endif %}
        </div>
    </div>
</nav>

{% for flash in app.flashes('success') %}
    <div class="alert alert-success">
        {{ flash }}
    </div>
{% endfor %}
{% for flash in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ flash }}
    </div>
{% endfor %}
{% block body %}{% endblock %}
<footer class="mt-5 p-3 text-center">
    <i class="fa-solid fa-bridge-suspension"></i>
    Made by <i style="color: red;" class="far fa-heart"></i> <i class="fa-solid fa-heart"></i>Steve Developer
</footer>


<script>
    if((window.location.href).includes('/cart')){
        $('html').hide();
    }

    var path = '{{ path('app_get_cart_data') }}';
    var fullUrl   = window.location.origin + path;
    $.ajax({
        type: "POST",
        url: fullUrl,
        complete: function (data) {
            var itemNr = data.responseText;
            console.log(itemNr);
            $('.items_number').text(itemNr);
            var items_number = $('.items_number').text();
            if(parseInt(items_number) === 0){
                $('.container_cart').html('<p>You don\'t have products in cart</p>');
                $('html').show();
            }else{
                $('html').show();
            }
        }
    });

    // if(confirm('Do you agree')){}

    function cookieAccept(){

        if(typeof $.cookie('cookie') !== 'undefined'){
            if(parseInt($.cookie('cookie')) === 0) {
                $('body').append('<div class="cookie_accept d-grid">' +
                    'do you accept cookie?' +
                    '<div class="d-inline-flex justify-content-center">' +
                    '<button class="accept">Accept</button>' +
                    '<button class="refuse">Refuse</button>' +
                    '</div>' +
                    '</div>');
            }

            $('.cookie_accept button.refuse').click(()=>{
                if(parseInt($.cookie('cookie')) === 0){
                    window.location.replace(window.location.origin);
                    // $.removeCookie('product_item');
                }
            });
            $('.cookie_accept button.accept').click(()=>{
                if(parseInt($.cookie('cookie')) === 0){
                    $.cookie('cookie',1);
                    window.location.replace(window.location.origin);
                }
            });

        }else{
            $.cookie('cookie',0);
            cookieAccept();
        }
    }
    cookieAccept();

</script>

</body>
</html>
