<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
              integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://code.jquery.com/jquery-3.6.0.js"
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"
                integrity="sha512-aUhL2xOCrpLEuGD5f6tgHbLYEXRpYZ8G5yD+WlFrXrPy2IrWBlu6bih5C9H6qGsgqnU6mgx6KtU8TreHpASprw=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>


    {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

<nav class="navbar navbar-expand-lg navbar-light bg-light px-1">
    <div class="container-fluid justify-content-center">
        <a class="navbar-brand" href="{{ path('app_homepage') }}">
            <p class="pl-2 d-inline font-weight-bold" style="color: #444;">
                Painting Arts</p>
        </a>
        <div class="collapse navbar-collapse " id="navbar-collapsable">
            <div class="d-inline-flex ">
                <div class="content_cart"></div>
                <p class="items_number m-2"></p>
            </div>
            <i class="fa-solid fa-cart-shopping"></i>

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="dropdown">
                    <button
                            class="dropdown-toggle btn"
                            type="button"
                            id="user-dropdown"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                    >
                        <img
                                src="{{ app.user.avatarUri }}"
                                alt="{{ app.user.displayName }} Avatar">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-dropdown">

                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <li>
                                <a class="dropdown-item" href="{{ path('app_homepage' , {
                                    '_switch_user':'_exit'
                                }) }}">Exit Impersonation</a>
                            </li>
                        {% else %}
                            <li>
                                <a class="dropdown-item logout_button" href="{{ path('app_logout') }}">Log Out</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% else %}
                <a class="nav-link text-black-50 m-2" href="{{ path('app_login') }}">Log In </a>
                <a href="{{ path('app_register') }}" class="btn btn-dark m-2">Sign up</a>
            {% endif %}
        </div>
    </div>
</nav>
<nav class="navbar navbar2 navbar-expand-lg navbar-light px-1 ">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0  ">
        <li class="nav-item ">
            <a class="nav-link" href="{{ path('app_homepage') }}">Products</a>
        </li>
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_profile') }}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_orders') }}">Orders</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_dashboard' , {'category':1}) }}">Admin</a>
                </li>
            {% endif %}
        {% endif %}
    </ul>
</nav>
<div class="modal modal_cookie" tabindex="-1" role="dialog" id="cookie_div">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <img src="{{ absolute_url(asset('cookie.png')) }}" alt="Cookie" width="150" height="100">
                <h2>We use cookies</h2>
                <p>This website uses cookies to ensure you get the beste experience on our website.</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary">Accept</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Deny</button>
            </div>
        </div>
    </div>
</div>

{% for flash in app.flashes('success') %}
    <div class="alert alert-success">
        {{ flash }}
    </div>
{% endfor %}
{% for flash in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ flash }}
    </div>
{% endfor %}
{% block body %}{% endblock %}
<footer class="mt-5 p-3 text-center">
    <i class="fa-solid fa-bridge-suspension"></i>
    Made by <i style="color: red;" class="far fa-heart"></i> <i class="fa-solid fa-heart"></i>Steve Developer
</footer>


<script>
    $(document).ready(()=>{
        if(parseInt($('.items_number').text()) >= 100){
            $('.items_number').css({
                'padding-top': "2px",
                'padding-right': "20px",
                'font-size': "10px",
                "height":"20px"
            });
        }else if(parseInt($('.items_number').text()) < 10){
            $('.items_number').css('text-align','center');
            // alert('here');
        }

    });

    {% if app.user %}
    if($('.content_cart').hasClass('before')){
        $('.content_cart').remove('before');
    }
    {% else %}
    $('.content_cart').addClass('before');
    {% endif %}

    $('.details_button').hide();
    if ((window.location.href).includes('/cart')) {
        $('html').hide();
    }
    var path = '{{ path('app_get_cart_data') }}';
    var fullUrl = window.location.origin + path;
    $.ajax({
        type: "POST",
        url: fullUrl,
        complete: function (data) {
            var itemNr = parseInt(data.responseText);
            $('.items_number').text(itemNr);
            var items_number = $('.items_number').text();
                if(parseInt($('.items_number').text()) >= 100){
                    $('.items_number').css({
                        'padding-top': "2px",
                        'padding-right': "20px",
                        'font-size': "10px",
                        "height":"20px"
                    });
                }else if(parseInt($('.items_number').text()) < 10){
                    $('.items_number').css('text-align','center');
                    // alert('here');
                }
            $('html').show();
        }
    });

    function cookieAccept() {

        if (typeof $.cookie('cookie') !== 'undefined') {
            if (parseInt($.cookie('cookie')) === 0) {
                $('#cookie_div').modal({
                    backdrop: 'static',
                    keyboard: false
                });
                $('#cookie_div').modal('show');
            }

            $('.modal_cookie .btn-secondary').click(() => {
                if (parseInt($.cookie('cookie')) === 0) {
                    location.reload();
                }
            });
            $('.modal_cookie .btn-primary').click(() => {
                if (parseInt($.cookie('cookie')) === 0) {
                    $.cookie('cookie', 1);
                    location.reload();
                }
            });

        } else {
            $.cookie('cookie', 0);
            cookieAccept();
        }
    }

    cookieAccept();
    var path = '{{ path('app_base') }}';
    var fullUrl = window.location.origin + path;
    $.ajax({
        type: "POST",
        url: fullUrl,
        complete: function (data) {
            var timePassed = data.responseJSON;
            var path = '{{ path('app_logout') }}';
            var fullUrl = window.location.origin + path;
            if (typeof timePassed != 'undefined') {
                if (typeof timePassed['timePassed'] != 'undefined' && timePassed['timePassed'] === true) {
                    $.ajax({
                        type: "POST",
                        url: fullUrl,
                        complete: function (data) {
                            location.reload();
                        }
                    });
                }
            }
        }

    });

    // $('.content_cart').hide();

    $(document).click((e) => {
        if($(e.target).closest('.content_cart').length === 0)
        {
                $('.content_cart').removeClass('clicked');
        }

    });
    $('.fa-cart-shopping').on('click', () => {
        if($('body').attr('class') !== 'cart_page'){
            if($('.content_cart').hasClass('clicked')){
                $('.content_cart').removeClass('clicked');
                // $('.content_cart').hide();
            }else{
                $('.content_cart').addClass('clicked');
                var path = '{{ path('app_cart') }}';
                var fullUrl = window.location.origin + path;
                $.ajax({
                    type: "POST",
                    url: fullUrl,
                    complete: function (data) {
                        var all_html = data.responseText;
                        var htmlParse = $.parseHTML(all_html);
                        if(parseInt($('.items_number').text()) !== 0){
                            console.log(htmlParse);
                            $('.content_cart').html(htmlParse[25]);
                        }else{
                            $('.content_cart').html('<div class="no_product_cart_preview">No products on cart' +
                                '<br><br>' +
                                '<a href="{{ path('app_cart') }}" class="details_button">Go To Cart</a>' +
                                '</div>' +
                                '');
                        }

                        // $('.content_cart').html(htmlParse[23]);
                        $('.content_cart').addClass('clicked');
                        var second_div_cart1, initialValue;
                        $('div[class^=second_div_cart] input').on('focusin', (e) => {
                            second_div_cart1 = $(e.currentTarget).parent().attr('class');
                            initialValue = parseInt($('.' + second_div_cart1 + '  input').val());
                        });
                        $('div[class^=second_div_cart] input').on('change', (e) => {
                            var items_number = $('.items_number').text();
                            var second_div_cart = $(e.currentTarget).parent().attr('class');
                            var oneItemDiv = $(e.currentTarget).parent().parent().attr('class');
                            var oneItemName = $('.' + oneItemDiv + '  p.oneItemTitle').text();
                            var finalValue = parseInt($('.' + second_div_cart + '  input').val());
                            if (finalValue > 0) { //that mean is less
                                if (initialValue > finalValue) { //that mean is less
                                    var delta = initialValue - finalValue;
                                    var result = 0;
                                    var path2 = '{{ path('app_remove_cart') }}';
                                    var fullUrl = window.location.origin + path2;
                                } else if (finalValue > initialValue) { //that mean add
                                    delta = finalValue - initialValue;
                                    result = 1;
                                    var path = '{{ path('app_add_cart') }}';
                                    fullUrl = window.location.origin + path;
                                }
                            }
                            var x = 1;
                            getTotal();
                            if ((finalValue) === 0) {
                                var path3 = '{{ path('app_remove_cart') }}';
                                fullUrl = window.location.origin + path3;
                                delta = parseInt(initialValue);
                            }
                            $.ajax({
                                type: "POST",
                                url: fullUrl,
                                data: {
                                    itemId: oneItemName,
                                    cartPage: 1,
                                    quantity: delta
                                },
                                complete: function (data) {
                                    if (parseInt(finalValue) === 0) {
                                        location.reload();
                                    }
                                    if (result === 0) {
                                        $('.' + oneItemDiv + ' .value_to_fill').val('{"item":"' + oneItemName + '","quantity":' + (parseInt(finalValue) - parseInt(delta)) + '}');
                                        $('.items_number').text(parseInt(items_number) - parseInt(delta));

                                    }
                                    if (result === 1) {
                                        $('.' + oneItemDiv + ' .value_to_fill').val('{"item":"' + oneItemName + '","quantity":' + (parseInt(finalValue) + parseInt(delta)) + '}');
                                        $('.items_number').text(parseInt(items_number) + parseInt(delta));

                                    }

                                    var order_price_cart = ($('.'+oneItemDiv + ' span.order_price_cart').text());
                                    var repl = order_price_cart.replace('$', '');
                                    var newTotalSingleProduct = parseInt(repl) * finalValue;
                                    $('.'+oneItemDiv+' .total_single_product_price').text(newTotalSingleProduct + '$');
                                    getTotal();
                                }
                            });
                        });
                        // $('.content_cart').show();
                        $('.cancel_all_order_cart:not(.cancel_all_order_cart i )').click((e)=>{
                            if(confirm('Do you want to delete this order?')){
                                var oneItemDiv0 = $(e.currentTarget).parent().attr('class');
                                var oneItemDiv = oneItemDiv0.split(' ')[0];
                                var oneItemName = $('.' + oneItemDiv + '  p.oneItemTitle').text();
                                var finalValue = parseInt($('.' + oneItemDiv + ' div[class^=second_div_cart] input').val());
                                var path2 = '{{ path('app_remove_cart') }}';
                                var fullUrl = window.location.origin + path2;
                                $.ajax({
                                    type: "POST",
                                    url: fullUrl,
                                    data: {
                                        itemId: oneItemName,
                                        cartPage: 1,
                                        quantity: finalValue
                                    },
                                    complete: function (data) {
                                        location.reload();
                                    }
                                });
                            }
                        });
                    }
                });
            }

        }
    });
    function getTotal() {
        var subTotal = $('.order_price_cart').text();
        var arrPrices = subTotal.split('$');
        var totalPrice = 0;
        for (var x = 0; x < arrPrices.length; x++) {
            var priceNoSpace = arrPrices[x].replace(/\s/g, '');
            var quantity = $('.order_quantity_cart' + [x]).val();

            if (priceNoSpace !== '') {
                totalPrice = parseInt(totalPrice) + (parseInt(quantity) * parseInt(priceNoSpace));
            }
        }
        $('.fill_price_total .price_total_p').text(totalPrice);
    }

    function addToCart(e, path) {
        var fullUrl = window.location.origin + path;
        var items_number = $('.items_number').text();
        var second_div_cart0 = $(e).parent().attr('class');
        var second_div_cart = (second_div_cart0.split(' '))[0];
        var oneItemDiv0 = $(e).parent().parent().attr('class');
        var oneItemDiv = (oneItemDiv0.split(' '))[0];
        var oneItemName = $('.' + oneItemDiv + '  p.oneItemTitle').text();
        var finalValue = $('.' + second_div_cart + '  input').val();
        $.ajax({
            type: "POST",
            url: fullUrl,
            data: {
                itemId: oneItemName,
                cartPage: 1,
            },
            complete: function (data) {
                $('.' + second_div_cart + '  input').val(parseInt(finalValue) + 1);
                $('.' + oneItemDiv + '  .value_to_fill').val('{"item":"' + oneItemName + '","quantity":' + (parseInt(finalValue) + 1) + '}');
                $('.items_number').text(parseInt(items_number) + 1);
                if(parseInt($('.items_number').text()) >= 100){
                    $(".items_number").animate({
                        width: '25px',
                        height: '25px',
                        'font-size': '18px',
                        left: '56px'
                    }, 100, function(){
                        $(".items_number").animate({
                            width: "18px",
                            height: "20px",
                            left: '52',
                            'padding-top': "2px",
                            'padding-right': "20px",
                            'font-size': "10px",
                        }, 100);
                    });
                }else{
                    $(".items_number").animate({
                        width: '25px',
                        height: '25px',
                        'font-size': '18px',
                        left: '56px'
                    }, 100, function(){
                        $(".items_number").animate({
                            width: "18px",
                            height: "18px",
                            left: '52',
                            'padding-top': "0px",
                            'padding-right': "0px",
                            'font-size': "13px",
                        }, 100);
                    });
                }
                if(parseInt($('.items_number').text()) >= 10 && parseInt($('.items_number').text()) < 100){
                    $('.items_number').css('text-align','left');
                }
                if(parseInt($('.items_number').text()) < 10){
                    $('.items_number').css('text-align','center');
                }
                getTotal();
            }
        });
    }

    function removeToCart(e, path2) {
        var fullUrl = window.location.origin + path2;
        var items_number = $('.items_number').text();
        var second_div_cart = $(e).parent().attr('class');
        var oneItemDiv = $(e).parent().parent().attr('class');
        var oneItemName = $('.' + oneItemDiv + '  p.oneItemTitle').text();
        var finalValue = $('.' + second_div_cart + '  input').val();
        $.ajax({
            type: "POST",
            url: fullUrl,
            data: {
                itemId: oneItemName,
                cartPage: 1,
                quantity: 1
            },
            complete: function (data) {
                if (parseInt(finalValue) === 1) {
                    location.reload();
                } else {
                    $('.items_number').text(parseInt(items_number) - 1);
                }
                $('.' + second_div_cart + ' input').val(parseInt(finalValue) - 1);
                $('.' + oneItemDiv + ' .value_to_fill').val('{"item":"' + oneItemName + '","quantity":' + (parseInt(finalValue) - 1) + '}');
                getTotal();
                if(parseInt($('.items_number').text()) >= 100){
                    $(".items_number").animate({
                        width: '25px',
                        height: '25px',
                        'font-size': '18px',
                        left: '56px'
                    }, 100, function(){
                        $(".items_number").animate({
                            width: "18px",
                            height: "20px",
                            left: '52',
                            'padding-top': "2px",
                            'padding-right': "20px",
                            'font-size': "10px",
                        }, 100);
                    });
                }else{
                    $(".items_number").animate({
                        width: '25px',
                        height: '25px',
                        'font-size': '18px',
                        left: '56px'
                    }, 100, function(){
                        $(".items_number").animate({
                            width: "18px",
                            height: "18px",
                            left: '52',
                            'padding-top': "0px",
                            'padding-right': "0px",
                            'font-size': "13px",
                        }, 100);
                    });
                }
                if(parseInt($('.items_number').text()) >= 10 && parseInt($('.items_number').text()) < 100){
                    $('.items_number').css('text-align','left');
                }
                if(parseInt($('.items_number').text()) < 10){
                    $('.items_number').css('text-align','center');
                }
            }
        });
    }


    $('.col_design').mouseover((e) => {
        var id = ($(e.currentTarget).attr('id'));
        $('#' + id + ' .title_product').css({
            'color': '#3d8b21',
            'text-decoration': 'underline',
        });
    });

    $('.col_design').mouseleave((e) => {
        var id = ($(e.currentTarget).attr('id'));
        $('#' + id + ' .title_product').css({
            'color': 'black',
            'text-decoration': 'none',
        });
    });


</script>

</body>
</html>
