{% extends 'base.html.twig' %}

{% block body %}

    {%  set arrayItems = [] %}
    {% for nameOfProduct, nrOfPresence in productsInCart %}
        {% if nameOfProduct == 0 %}
        {% set nameOfProduct = 1 %}
        {% endif %}

        {%  set arrayItems = arrayItems|merge(
            [
                {
                    nrPresence : nrOfPresence,
            title : nameOfProduct
                }
            ]
        ) %}
    {% endfor %}
    <div class="container container_cart justify-content-center">
        <form action="{{ path('app_thanks') }}" class="d-grid form_checkout ">
            <div class="row">
                <div class="col-sm first_column_cart">
                    {% for key, oneItemArr in arrayItems %}
                        <div class="oneItemDiv{{ key }}">
                            <p class="oneItemTitle">{{ oneItemArr.title }} </p>
                            <p class="nr_total_presence">{{ oneItemArr.nrPresence }}</p> <br>
                            <i class="fa-solid fa-plus add_to_cart_button m-3"></i>
                            <i class="fas fa-minus remove_to_cart_button m-3"></i>
                            <input type="text" name="item{{ key }}" value='{"{{ oneItemArr.title }}":{{ oneItemArr.nrPresence }}}'>
                        </div>
                    {% endfor %}

                </div>
                <div class="col-sm second_column_cart">
                    <p>Formular</p>
                    <input type="text" name="name" placeholder="Name" required>
                    <input type="text" name="surname" placeholder="Surname" required>
                    <input type="text" name="city" placeholder="City" required>
                    <input type="text" name="street" placeholder="Street" required>
                    <input type="text" name="number" placeholder="Number" required>
                    <input type="text" name="building" placeholder="Building" required>
                    <input type="text" name="phone" placeholder="phone" required>
                    if logged in not see this
                    <input type="text" name="email" placeholder="Email">
                    <button type="button" class="testbutton">test button</button>
                    <p>Alege modalitatea de livrare</p>
                    <div class="d-inline-flex">
                        <input type="checkbox" name="ramburs" required>
                        <label for="ramburs">Plata la Ramburs</label>
                    </div>
                    <br>
                    <button type="submit">Send Order</button>
                </div>
            </div>
        </form>
    </div>


    <script>
        $('.add_to_cart_button').click((e)=>{
            var items_number = $('.items_number').text();
            $('.items_number').text(parseInt(items_number) + 1);
            var classNameOfParent = $(e.target).parent().attr('class');
            var oneItemName = $('.'+classNameOfParent + '  p.oneItemTitle').text();
            var nrOfPresence = $('.'+classNameOfParent + '  p.nr_total_presence').text();
            $('.'+classNameOfParent + ' > p.nr_total_presence').text(parseInt(nrOfPresence) + 1);

            $('.'+classNameOfParent+' > input[type="text"]').val('{"'+oneItemName+'":'+ (parseInt(nrOfPresence) + 1) +'}');
            // alert(classNameOfParent);

            var path = '{{ path('app_add_cart') }}';
            var fullUrl   = window.location.origin + path;
            $.ajax({
                type: "POST",
                url: fullUrl,
                data: {
                    itemId :oneItemName,
                    cartPage : 1,
                },
                complete: function (data) {

                }
            });
        });
        $('.remove_to_cart_button').click((e)=>{
            var items_number = $('.items_number').text();
            $('.items_number').text(parseInt(items_number) - 1);
            var classNameOfParent2 = $(e.target).parent().attr('class');

            var oneItemName = $('.'+classNameOfParent2 + '  p.oneItemTitle').text();
            var nrOfPresence = $('.'+classNameOfParent2 + '  p.nr_total_presence').text();
            $('.'+classNameOfParent2 + ' p.nr_total_presence').text(parseInt(nrOfPresence) - 1);

            $('.'+classNameOfParent2+' > input[type="text"]').val('{"'+oneItemName+'":'+ (parseInt(nrOfPresence) - 1) +'}');


            if(parseInt(nrOfPresence) === 1){
                $(e.target).parent().remove();
            }


            var path = '{{ path('app_remove_cart') }}';
            var fullUrl   = window.location.origin + path;
            $.ajax({
                type: "POST",
                url: fullUrl,
                data: {
                    itemId :oneItemName,
                    cartPage : 1,
                },
                complete: function (data) {

                }
            });
        });
    </script>
{% endblock %}