{% extends 'base.html.twig' %}
{% block body_class %}cart_page{% endblock %}
{% block body %}
    <div class="container container_cart justify-content-center">
        {% if products|length  >= 1 %}
            <form action="{{ path('app_thanks') }}" class="d-grid form_checkout ">
                <div class="container_orders_cart row">
                    <h2 class="mb-4">My Cart</h2>
                    <div class="orders_all d-grid col-9">
                        {% for index, product in products %}
                            <div class="order_body_cart{{ index}} order_body_cart d-inline-flex">
                                <p class="cancel_all_order_cart"><i class="fa-solid fa-x"></i></p>

                                <img src="{{ absolute_url(asset('tablou.jpg')) }}" alt="{{ product.title }}"
                                     width="160px" height="120px">
                                <div class="oneItemDiv{{ index }}">
                                    <p class="oneItemTitle">{{ product.title }} </p>
                                    <div class="product_price_div">
                                        <p class="total_single_product_price">{{ product.price * product.quantity }} $</p>
                                        <p class="product_price">Product Price: <span class="order_price_cart">{{ product.price }} $</span></p>
                                    </div>

                                    <p class="edit_quantity_cart">Edit Quantity</p>
                                    <div class="second_div_cart{{ index }}">
                                        <button type="button" class="btn btn-outline-light remove_to_cart_button" onclick="removeToCart(this, '{{ path('app_remove_cart') }}')">
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </button>
                                        <input type="number" value="{{ product.quantity }}"
                                               class="order_quantity_cart{{ index }}">
                                        <button type="button" class="btn btn-outline-light add_to_cart_button" onclick="addToCart(this, '{{ path('app_add_cart') }}')">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </div>
                                    <input type="hidden" class="value_to_fill" name="item{{ index }}"
                                           value='{"item":"{{ product.title }}","quantity":{{ product.quantity }}}'>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a href="{{ path('app_cart') }}" class="details_button">Go To Cart</a>
                    <div class="price_total col-3 fill_price_total">
                        <p class="summary_text">Summery :</p>
                        <p class="cost_products">Cost of products - shipping cost next step</p>
                        <p class="total_price">
                            <span class="price_total_p">
                            total here
                            </span> $
                        </p>
                        <button type="button" class="btn btn-continue">Continue</button>
                    </div>
                </div>
                <div class="form_checkout">
                    <div class="payment_details_head">
                        <p>Payment Details</p>
                        <label for="user_data"> Use My Own Data
                            <input type="checkbox" name="user_data" id="user_data">
                        </label><br>
                    </div>

                    <div class="form_checkout_labels ">
                        <label for="name">name
                            <input type="text" name="name" class="form-control" placeholder="Name" id="name"
                                   required></label>

                        <label for="surname"> surname
                            <input type="text" name="surname" class="form-control" placeholder="Surname" id="surname"
                                   required></label>

                        <label for="city">city
                            <input type="text" name="city" class="form-control" placeholder="City" id="city"
                                   required></label>

                        <label for="street">street
                            <input type="text" name="street" class="form-control" placeholder="Street" id="street"
                                   required></label>

                        <label for="number">number
                            <input type="text" name="number" class="form-control" placeholder="Number" id="number"
                                   required></label>

                        <label for="building">building
                            <input type="text" name="building" class="form-control" placeholder="Building" id="building"
                                   required></label>

                        <label for="building">phone
                            <input type="text" name="phone" class="form-control" placeholder="phone" id="phone"
                                   required></label>

                        <label for="building">phone
                            <input type="text" name="email" class="form-control" placeholder="Email" id="email"></label>
                        <br>
                    </div>

                    <div class="offline_payment">
                        <div class="row">
                            <div class="col">
                                <p>Choose payment type</p>
                                <label for="offline_payment" class="d-inline-flex">Offline Pay - 15 RON
                                    <input type="checkbox" name="offline_payment" class="offline_payment_input"
                                           required>
                                </label>
                            </div>
                            <div class="col fill_price_total second_price">
                                <p class="summary_text">Summery:</p>
                                <p class="cost_products">Total cost:</p>
                                <p class="total_price second_price">
                                    <span class="price_total_p">
                                    total here
                                    </span> $
                                </p>
                            </div>

                        </div>

                    </div>
                    <br>
                    <button type="submit">Send Order</button>
                    <button class="go_back">Go Back</button>
                </div>
            </form>
        {% else %}
            No products on your cart!
        {% endif %}
    </div>


    <script>
        $('.remove_to_cart_button i').click(()=>{
            $('.remove_to_cart_button').trigger('click');
        });
        $('.add_to_cart_button i').click(()=>{$('.add_to_cart_button').click();});
        {% if app.user %}
        $('#user_data').click(() => {
            if ($('#user_data').is(':checked')) {
                $('#name').attr('value', '{{ app.user.name }}');
                $('#surname').attr('value', '{{ app.user.surname }}');
                $('#city').attr('value', '{{ app.user.city }}');
                $('#street').attr('value', '{{ app.user.street }}');
                $('#number').attr('value', '{{ app.user.streetNumber }}');
                $('#building').attr('value', '{{ app.user.building }}');
                $('#phone').attr('value', '{{ app.user.phone }}');
                $('#email').attr('value', '{{ app.user.email }}');
            }
            if (!$('#user_data').is(':checked')) {
                $('#name').removeAttr('value');
                $('#surname').removeAttr('value');
                $('#city').removeAttr('value');
                $('#street').removeAttr('value');
                $('#number').removeAttr('value');
                $('#building').removeAttr('value');
                $('#phone').removeAttr('value');
                $('#email').removeAttr('value');

            }

        });
        {% endif %}
        getTotal();
        function getTotal() {
            var subTotal = $('.order_price_cart').text();
            var arrPrices = subTotal.split('$');
            var totalPrice = 0;
            for (var x = 0; x < arrPrices.length; x++) {
                var priceNoSpace = arrPrices[x].replace(/\s/g, '');
                var quantity = $('.order_quantity_cart' + [x]).val();

                if (priceNoSpace !== '') {
                    totalPrice = parseInt(totalPrice) + (parseInt(quantity) * parseInt(priceNoSpace));
                }
            }
            $('.fill_price_total .price_total_p').text(totalPrice);
        }
        $('.form_checkout').hide();
        $('.btn-continue').click(() => {
            $('.container_orders_cart').hide();
            $('.form_checkout').show();
        });
        $('.go_back').click(() => {
            $('.container_orders_cart').show();
            $('.form_checkout').hide();
        });
        $('.offline_payment_input').click(() => {
            if ($('.offline_payment_input').is(':checked')) {
                var actualPrice = $('.second_price .price_total_p').text();
                var previousPrice = $('.price_total.fill_price_total .price_total_p').text();
                if (parseInt(actualPrice) === (parseInt(previousPrice))) {
                    $('.second_price .price_total_p').text(parseInt(actualPrice) + 15);
                }
            } else {
                actualPrice = $('.second_price .price_total_p').text();
                previousPrice = $('.price_total.fill_price_total .price_total_p').text();
                if (parseInt(actualPrice) === (parseInt(previousPrice) + 15)) {
                    $('.second_price .price_total_p').text(parseInt(actualPrice) - 15);
                }
            }
        });

        //disable enter submitting
        $(document).keypress(
            function (event) {
                if (event.which == '13') {
                    event.preventDefault();
                }
            }
        );


        var second_div_cart1, initialValue;
        $('div[class^=second_div_cart] input').on('focusin', (e) => {
            second_div_cart1 = $(e.currentTarget).parent().attr('class');
            initialValue = parseInt($('.' + second_div_cart1 + '  input').val());
        });
        $('div[class^=second_div_cart] input').on('change', (e) => {
            var items_number = parseInt($('.items_number').text());
            var second_div_cart = $(e.currentTarget).parent().attr('class');
            var oneItemDiv = $(e.currentTarget).parent().parent().attr('class');
            var oneItemName = $('.' + oneItemDiv + '  p.oneItemTitle').text();
            var finalValue = parseInt($('.' + second_div_cart + '  input').val());
            if (finalValue > 0) { //that mean is less
                if ((initialValue) > (finalValue)) { //that mean is less
                    var delta = (initialValue - finalValue);
                    var result = 0;
                    var path2 = '{{ path('app_remove_cart') }}';
                    var fullUrl = window.location.origin + path2;
                } else if ((finalValue) > (initialValue)) { //that mean add
                    delta = (finalValue - initialValue);
                    result = 1;
                    var path = '{{ path('app_add_cart') }}';
                    fullUrl = window.location.origin + path;
                }
            }
            getTotal();
            if ((finalValue) === 0) {
                var path3 = '{{ path('app_remove_cart') }}';
                fullUrl = window.location.origin + path3;
                delta = (initialValue);
            }
            $.ajax({
                type: "POST",
                url: fullUrl,
                data: {
                    itemId: oneItemName,
                    cartPage: 1,
                    quantity: delta
                },
                complete: function (data) {
                    if ((finalValue) === 0) {
                        location.reload();
                    }
                        if (result === 0) {
                            $('.' + oneItemDiv + ' .value_to_fill').val('{"item":"' + oneItemName + '","quantity":' + ((finalValue) - (delta)) + '}');
                            $('.items_number').text((items_number) - (delta));

                        }
                    if (result === 1) {
                        $('.' + oneItemDiv + ' .value_to_fill').val('{"item":"' + oneItemName + '","quantity":' + ((finalValue) + (delta)) + '}');
                        $('.items_number').text((items_number) + (delta));

                    }

                    var order_price_cart = ($('.'+oneItemDiv + ' span.order_price_cart').text());
                    var repl = order_price_cart.replace('$', '');
                    var newTotalSingleProduct = parseInt(repl) * finalValue;
                    $('.'+oneItemDiv+' .total_single_product_price').text(newTotalSingleProduct + '$');
                    getTotal();
                }
            });
        });


        $('.cancel_all_order_cart:not(.cancel_all_order_cart i )').click((e)=>{
            if(confirm('Do you want to delete this order?')){
                var oneItemDiv = $(e.currentTarget).parent().parent().attr('class');
                var oneItemName = $('.' + oneItemDiv + '  p.oneItemTitle').text();
                var finalValue = $('.' + oneItemDiv + ' div[class^=second_div_cart] input').val();
                var path2 = '{{ path('app_remove_cart') }}';
                var fullUrl = window.location.origin + path2;
                $.ajax({
                    type: "POST",
                    url: fullUrl,
                    data: {
                        itemId: oneItemName,
                        cartPage: 1,
                        quantity: finalValue
                    },
                    complete: function (data) {
                        location.reload();
                    }
                });
            }
        });






    </script>
{% endblock %}