{% extends 'base.html.twig' %}
{% block body_class %}homepage_page{% endblock %}
{% block body %}
{#    <div class="jumbotron-img p-2 mb-2">#}
{#        <div class="container text-center">#}
{#            <h1 class="display-4">Welcome to a Painted World</h1>#}
{#            {% if alertDisabled2fa %}#}
{#                <div class="alert alert-success">You Successfully Disabled Two Factors Authentication</div>#}
{#            {% endif %}#}
{#            <div class="lead">Plugin yourself to art</div>#}
{#        </div>#}
{#    </div>#}
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item dropdown-item_newest" href="{{ path('app_homepage', { orderBy : 'newest'}) }}">Newest</a>
                        <a class="dropdown-item dropdown-item_low_price" href="{{ path('app_homepage', { orderBy : 'price_low'}) }}">Low Price</a>
                        <a class="dropdown-item dropdown-item_high_price" href="{{ path('app_homepage', { orderBy : 'price_high'}) }}">High Price</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            {% for index, product in pager %}
                    <div class="col col_design" id="col_design{{ index }}">
{#                        {{ dump(product.urlImage.url) }}#}
                        <img src="{{ absolute_url(asset(product.urlImage.url)) }}" class="img_product">
                        <div class="d-grid">
                            <a class="title_product" href="{{ path('app_product_page', { slug: product.slug } ) }}">{{ product.title }} </a>
                            <strong>Description:</strong>
                            <p class="descriptionHomePage">
                                {{ product.description|length > 50 ? product.description|slice(0, 50) ~ '...' : product.description  }}
                            </p>
                            <p class="price_product">{{ product.price }} $</p>
                        </div>
                    </div>
            {% endfor %}
        </div>
            {{ pagerfanta(pager) }}
    </div>


    <script>
        $('.img_product').click((e)=>{
            var id = $(e.target).parent().attr('id');
            var newUrl = (window.location.origin + $('#'+id+' .title_product').attr('href'));
            window.location.href = newUrl;
        });

        $('.descriptionHomePage').click((e)=>{
            var id = $(e.target).parent().parent().attr('id');
            $('#'+id+'    .img_product').trigger('click');
        });

    </script>

{% endblock %}

