{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="col ordered_orders profile_row_body">
            <select class="form-select form_select_orders" aria-label="Default select example">
                <option selected>all orders</option>
                <option class="active_order_option" value="1">active orders</option>
                <option value="2">delivered orders</option>
                <option value="3">refunded orders</option>
                <option value="3">canceled orders</option>
            </select>
            <div class="active_orders_div">
                {% if orderedItems is empty %}
                {% else %}
                    <p class="type_of_orders">Active Orders</p>
                    {% for orderedItemArray in orderedItems %}
                        <div class="order_card">
                            {% for date, orderedItemArray2 in orderedItemArray %}
                                <div class="order_head">
                                    <p class="order_number">Order nr. :{{ orderedItemArray2.0.orderNr }}</p>
                                    <p class="date_orders">Date of order: {{ date }}</p>
                                    <p class="address_order">Address Delivery: {{ orderedItemArray2.0.address }}</p>
                                </div>
                                <div class="order_body">
                                    {% for orderedItemSingle in orderedItemArray2 %}
                                        <div id="refundO_{{ orderedItemSingle.id }}">
                                            <p class="product_title">Product Title: {{ orderedItemSingle.product.title }}</p>
                                            <p class="quantity_items">Quantity: {{ orderedItemSingle.quantity }}</p>
                                            <p class="phone_order">Phone: +40{{ orderedItemSingle.phone }}</p>
                                            <p class="price_order">Amount : {{ orderedItemSingle.product.price * orderedItemSingle.quantity }} $</p>
                                            <p class="status_order">
                                                Status: {% if orderedItemSingle.status == 1 %}
                                                    Not Delivered
                                                {% elseif orderedItemSingle.status == 2 %}
                                                    Delivered
                                                {% elseif orderedItemSingle.status == 3 %}
                                                    Refunded
                                                {% elseif orderedItemSingle.status == 4 %}
                                                    Canceled
                                                {% endif %}
                                            </p>
                                            <input type="hidden" name="refundO_{{ orderedItemSingle.id }}"
                                                   class="refundO_{{ orderedItemSingle.id }}"
                                                   value="{{ orderedItemSingle.product.id }}">
                                            <button class="cancel_order">Cancel All Order</button>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="delivered_items_div">
                {% if deliveredItems is empty %}
                {% else %}
                    <p class="type_of_orders">Orders delivered</p>
                    {% for orderedItem in deliveredItems %}
                        <div class="order_card">
                            {% for date, orderedItemArray in orderedItem %}
                                <div class="order_head">
                                    <p class="order_number">Order nr. : {{ orderedItemArray.0.product.title }}</p>
                                    <p class="date_orders">Date of order: {{ date }}</p>
                                    <p class="address_order">Address Delivery: {{ orderedItemArray.0.address }}</p>
                                </div>
                                <div class="order_body">
                                    {% for orderedItemSingle in orderedItemArray %}
                                        <div id="refund_{{ orderedItemSingle.id }}">
                                            <p class="product_title">Product
                                                Title: {{ orderedItemSingle.product.title }}</p>
                                            <p>Quantity:<span class="quantity_items"> {{ orderedItemSingle.quantity }}</span></p>
                                            <p class="phone_order">Phone: +40{{ orderedItemSingle.phone }}</p>
                                            <p class="delivered_at_order">Delivered
                                                on: {{ orderedItemSingle.deliveredAt|date('Y-m-d H:m:s') }}</p>
                                            <p class="price_order">Amount : {{ orderedItemSingle.product.price * orderedItemSingle.quantity }} $</p>
                                            <p class="status_order">
                                                Status: {% if orderedItemSingle.status == 1 %}
                                                    Not Delivered
                                                {% elseif orderedItemSingle.status == 2 %}
                                                    Delivered
                                                {% elseif orderedItemSingle.status == 3 %}
                                                    Refunded
                                                {% elseif orderedItemSingle.status == 4 %}
                                                    Canceled
                                                {% endif %}
                                            </p>
                                            <input type="hidden" name="refund_{{ orderedItemSingle.id }}" class="refund_{{ orderedItemSingle.id }}" value="{{ orderedItemSingle.product.id }}">
                                            <div class="refund_div_{{ orderedItemSingle.id }}">
                                                <p class="refund_quantity">0</p>
                                                <i class="fa-solid fa-plus add_to_cart_button"></i>
                                                <i class="fas fa-minus remove_to_cart_button"></i>
                                                <button class="refund_button">Refund</button>
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="refunded_orders_div">
                {% if refundedItems is empty %}
                {% else %}
                    <div class="col refunded_orders">
                        <p class="type_of_orders">Refunded Orders</p>
                        {% for orderedItem in refundedItems %}
                            <div class="order_card">
                                {% for date, orderedItemArray in orderedItem %}
                                    <div class="order_head">
                                        <p class="order_number">Order nr. : {{ orderedItemArray.0.product.title }}</p>
                                        <p class="date_orders">Date of order: {{ date }} </p>
                                        <p class="address_order"> Address Delivery: {{ orderedItemArray.0.address }}</p>
                                    </div>

                                    <div class="order_body">
                                        {% for orderedItemSingle in orderedItemArray %}
                                            <p class="product_title">Product
                                                Title: {{ orderedItemArray.0.product.title }}</p>
                                            <p class="quantity_items">Quantity: {{ orderedItemSingle.quantity }}</p>
                                            <p class="phone_order">Phone: +40{{ orderedItemSingle.phone }}</p>
                                            <p class="delivered_at_order">Delivered
                                                On: {{ orderedItemSingle.deliveredAt|date('Y-m-d H:m:s') }}</p>
                                            <p class="price_order">Amount : {{ orderedItemSingle.product.price * orderedItemSingle.quantity }} $</p>
                                            <p class="status_order">
                                                Status: {% if orderedItemSingle.status == 1 %}
                                                    Not Delivered
                                                {% elseif orderedItemSingle.status == 2 %}
                                                    Delivered
                                                {% elseif orderedItemSingle.status == 3 %}
                                                    Refunded
                                                {% elseif orderedItemSingle.status == 4 %}
                                                    Canceled
                                                {% endif %}
                                            </p>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="canceled_orders_item">
                {% if canceledItems is empty %}
                {% else %}
                        <p class="type_of_orders">Canceled Orders</p>
                        {% for orderedItem in canceledItems %}
                <div class="order_card">
                    {% for date, orderedItemArray in orderedItem %}
                        <div class="order_head">
                            <p class="order_number">Order nr. :{{ orderedItemArray.0.orderNr }}</p>
                            <p class="date_orders">Date of order: {{ date }}</p>
                            <p class="address_order">Address Delivery: {{ orderedItemArray.0.address }}</p>
                        </div>
                    <div class="order_body">
                    {% for orderedItemSingle in orderedItemArray %}
                        <p class="product_title">Product Title: {{ orderedItemSingle.product.title }}</p>
                        <p class="quantity_items">Quantity: {{ orderedItemSingle.quantity }}</p>
                        <p class="phone_order">Phone: +40{{ orderedItemSingle.phone }}</p>
                        <p class="canceled_order_at">Canceled On: {{ orderedItemSingle.deletedAt|date('Y-m-d H:m:s') }}</p>
                        <p class="price_order">Amount : {{ orderedItemSingle.product.price * orderedItemSingle.quantity }} $</p>
                        <p class="status_order">
                            Status: {% if orderedItemSingle.status == 1 %}
                                Not Delivered
                            {% elseif orderedItemSingle.status == 2 %}
                                Delivered
                            {% elseif orderedItemSingle.status == 3 %}
                                Refunded
                            {% elseif orderedItemSingle.status == 4 %}
                                Canceled
                            {% endif %}
                        </p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                        {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>


    <script>

        $('.cancel_order').click((e) => {
            // var parentClass = $(e.target).parent().attr('id');
            var parentClass = $(e.target).parent().attr('id');
            var cartItemId = $('.' + parentClass).val();
            // var cartItemId = $('.' + parentClassID).val();
            var path = '{{ path('app_change_status') }}';
            var fullUrl = window.location.origin + path;
            // var refundQ = $('#' + parentClass + ' .refund_quantity').text();
            if (confirm("Are you sure you want to refund this product?")) {
                alert('You canceled successfully!');
                $.ajax({
                    type: "POST",
                    url: fullUrl,
                    data: {
                        cartItemId: cartItemId,
                        // refundQ: refundQ,
                        status: 4,
                        fromStatus: 1,
                        all: 'all'
                    },
                    complete: function (data) {
                        location.reload();
                    }
                });
            }
        });
        $('.fa-plus').click((e) => {
            var parentClass = $(e.target).parent().attr('class');
            var classParent = $('.' + parentClass).parent().attr('id');
            var quantityItem = $('#' + classParent+' .quantity_items').text();
            var refundQ = $('.' + parentClass + ' .refund_quantity').text();
            if (parseInt(refundQ) < parseInt(quantityItem)) {
                $('.' + parentClass + ' .refund_quantity').text(parseInt(refundQ) + 1);
            }
        });
        $('.fa-minus').click((e) => {
            var parentClass = $(e.target).parent().attr('class');
            var parentClassID = $('.' + parentClass).parent().attr('id');
            var refundQ = $('#' + parentClassID + ' .refund_quantity').text();
            if (parseInt(refundQ) > 0) {
                $('#' + parentClassID + ' .refund_quantity').text(parseInt(refundQ) - 1);
            }
        });
        $('.refund_button').click((e) => {
            var parentClass = $(e.target).parent().attr('class');
            var parentClassID = $('.' + parentClass).parent().attr('id');
            var cartQuantity = $('#' + parentClassID + ' .quantity_items').text();
            var cartItemId = $('.' + parentClassID).val();
            var path = '{{ path('app_change_status') }}';
            var fullUrl = window.location.origin + path;
            var refundQ = $('#' + parentClassID + ' .refund_quantity').text();
            if (confirm("Are you sure you want to refund this product?")) {
                alert('You refunded successfully!');
                $.ajax({
                    type: "POST",
                    url: fullUrl,
                    data: {
                        cartItemId: cartItemId,
                        refundQ: refundQ,
                        status: 3,
                        fromStatus: 2
                    },
                    complete: function (data) {
                        if ((parseInt(refundQ) - parseInt(cartQuantity)) === 0) {
                            location.reload();
                        } else {
                            location.reload();
                        }
                    }
                });
            }
        });

        $('.form_select_orders').on('change',()=>{
            var optionSelected = $(".form_select_orders option:selected").text();
            switch(optionSelected){
                case 'all orders':
                    $('.active_orders_div').show();
                    $('.delivered_items_div').show();
                    $('.refunded_orders_div').show();
                    $('.canceled_orders_item').show();
                    break;
                case 'active orders':
                    $('.active_orders_div').show();
                    $('.delivered_items_div').hide();
                    $('.refunded_orders_div').hide();
                    $('.canceled_orders_item').hide();
                    break;
                case 'delivered orders':
                    $('.active_orders_div').hide();
                    $('.delivered_items_div').show();
                    $('.refunded_orders_div').hide();
                    $('.canceled_orders_item').hide();
                    break;
                case 'refunded orders':
                    $('.active_orders_div').hide();
                    $('.delivered_items_div').hide();
                    $('.refunded_orders_div').show();
                    $('.canceled_orders_item').hide();
                    break;
                case 'canceled orders':
                    $('.active_orders_div').hide();
                    $('.delivered_items_div').hide();
                    $('.refunded_orders_div').hide();
                    $('.canceled_orders_item').show();
                    break;
            }

        });


    </script>
{% endblock %}