{% extends 'base.html.twig' %}

{% block body %}

    <div class="row ">
        {% if orderedItems is empty %}
        {% else %}
            <div class="col ordered_orders profile_row_body">
                <h2 style="padding-top:100px">Active Orders</h2>
                {% for orderedItemArray in orderedItems %}
                    {% for date, orderedItemArray2 in orderedItemArray %}
                        {% for orderedItemSingle in orderedItemArray2 %}
                            <div id="refund_{{ orderedItemSingle.id }}">
                                <strong> Date of order: {{ date }} </strong><br><br>
                                Product Title: {{ orderedItemSingle.product.title }} <br>
                                Quantity: <p class="quantity_item_cart">{{ orderedItemSingle.quantity }}</p> <br>
                                Address Delivery: {{ orderedItemSingle.address }} <br>
                                Phone: +40{{ orderedItemSingle.phone }} <br><br>
                                <input type="hidden" name="refund_{{ orderedItemSingle.id }}"
                                       class="refund_{{ orderedItemSingle.id }}"
                                       value="{{ orderedItemSingle.product.id }}">
                                <p class="refund_quantity">0</p>
                                <i class="fa-solid fa-plus add_to_cart_button m-3"></i>
                                <i class="fas fa-minus remove_to_cart_button m-3"></i><br>
                                <button class="refund_button">Refund</button>
                                <br><br>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
                <button class="cancel_order">Cancel Order</button>

            </div>
        {% endif %}
        {% if deliveredItems is empty %}
        {% else %}
            <div class="col delivered_orders profile_row_body">
                <h2 style="padding-top:100px">Orders delivered</h2>
                {% for orderedItem in deliveredItems %}
                    {% for date, orderedItemArray in orderedItem %}
                        {% for orderedItemSingle in orderedItemArray %}
                            <strong> Date of order: {{ date }} </strong><br><br>
                            Product Title: {{ orderedItemSingle.product.title }} <br>
                            Quantity: {{ orderedItemSingle.quantity }} <br>
                            Address Delivery: {{ orderedItemSingle.address }} <br>
                            Phone: +40{{ orderedItemSingle.phone }} <br>
                            Delivered on: {{ orderedItemSingle.deliveredAt|date('Y-m-d H:m:s') }} <br><br>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="row profile_row_body">
        {% if refundedItems is empty %}
        {% else %}
            <div class="col refunded_orders">
                <h2 style="padding-top:100px">Refunded Orders</h2>
                {% for orderedItem in refundedItems %}
                    {% for date, orderedItemArray in orderedItem %}
                        {% for orderedItemSingle in orderedItemArray %}
                            <strong> Date of order: {{ date }} </strong><br><br>
                            Product Title: {{ orderedItemSingle.product.title }} <br>
                            Quantity: {{ orderedItemSingle.quantity }} <br>
                            Address Delivery: {{ orderedItemSingle.address }} <br>
                            Phone: +40{{ orderedItemSingle.phone }} <br>
                            Delivered On: {{ orderedItemSingle.deliveredAt|date('Y-m-d H:m:s') }} <br><br>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <script>

        $('.cancel_order').click(() => {

            var path = '{{ path('app_cancel_order') }}';
            var fullUrl   = window.location.origin + path;
            $.ajax({
                type: "POST",
                url: fullUrl,
                data: {
                    user : '{{ app.user.email }}',
                },
                success: function (data) {
                    $('.ordered_orders').empty();
                }
            });

        });
        $('.fa-plus').click((e) => {
            var parentClass = $(e.target).parent().attr('id');
            var quantityItem = $('#' + parentClass + ' .quantity_item_cart').text();
            var refundQ = $('#' + parentClass + ' .refund_quantity').text();
            if (parseInt(refundQ) < parseInt(quantityItem)) {
                $('#' + parentClass + ' .refund_quantity').text(parseInt(refundQ) + 1);
            }
        });
        $('.fa-minus').click((e) => {
            var parentClass = $(e.target).parent().attr('id');
            var quantityItem = $('#' + parentClass + ' .quantity_item_cart').text();
            var refundQ = $('#' + parentClass + ' .refund_quantity').text();
            if (parseInt(refundQ) > 0) {
                $('#' + parentClass + ' .refund_quantity').text(parseInt(refundQ) - 1);
            }
        });
        $('.refund_button').click((e) => {
            var parentClass = $(e.target).parent().attr('id');
            var cartItemId = $('.' + parentClass).val();
            var path = '{{ path('app_refund_product') }}';
            var fullUrl = window.location.origin + path;
            var refundQ = $('#' + parentClass + ' .refund_quantity').text();
            if (confirm("Are you sure you want to refund this product?")) {
                alert('You refunded successfully!');
                $.ajax({
                    type: "POST",
                    url: fullUrl,
                    data: {
                        cartItemId: cartItemId,
                        refundQ: refundQ
                    },
                    complete: function (data) {
                        if (parseInt(refundQ) === parseInt(cartItemId)) {
                        }
                        $('#' + parentClass).parent().empty();
                    }
                });
            } else {
            }

        });

    </script>
{% endblock %}