{% extends 'base.html.twig' %}
{% block body_class %}product_page{% endblock %}
{%  block body  %}
    <div class="container div_product_page">
        <div class="row p-5">
            <div class="col-5">
                <img src="{{ absolute_url(asset('tablou.jpg')) }}" class="img_product_page" width="350" height="350">
            </div>
            <div class="col-7">
                <p class="title_product_page">
                    {{ product.title }}
                </p>
                <p class="product_category">Painting</p>
                <p class="available_product">
                    <i class="fa-solid fa-box-open"></i>
                    <span>
                        Product available
                    </span>
                </p>
                <div class="div_product_page_card">
                    <div class="d-inline-flex">
                        <p class="product_price_page"> {{ product.price }} </p><span class="product_price_page_span">&nbsp$</span>
                        <div class="div_fa_question">
                            <i class="fas fa-question"></i>
                        </div>
                    </div>
                    <div class="d-inline-flex">
                        <div class="d-flex card_price_pr_page">
                            <button class="btn btn-outline-light" onclick="decrement()">
                                <i class="fas fa-minus i_pr_page remove_to_cart_button_pr_page m-3"></i>
                            </button>
                            <input type="number" value="1" class="order_quantity_cart_pr_page">
                            <button class="btn btn-outline-light" onclick="increment()">
                                <i class="fa-solid i_pr_page fa-plus m-3" ></i>
                            </button>
                        </div>
                        <form action="{{ path('app_cart') }}" class="form_submit_pr_page">
                            <button type="button" class="add_to_cart_button_pr_page">Add To Cart</button>
                        </form>
                    </div>
                </div>
                <br><br>
                <i class="fa-solid fa-asterisk"></i>The displayed price includes VAT and is only valid for online orders at www.wineandflowers.ro.
            </div>
        </div>
        <div class="product_description_div d-grid">
            <div class="nav_product_description d-inline-flex">
                <div class="description_tab">Description</div>
                <div class="other_tab">Other</div>
            </div>
            <div class="box_content_main_description">
                 {{ product.description }}
            </div>
            <div class="box_content_main_other">
                {{ product.description }}
            </div>

        </div>
    </div>

    <script>
        $('.box_content_main_other').hide();
        $('.add_to_cart_button_pr_page').click((e)=>{
            var items_number = $('.items_number').text();
            var quantity = parseInt($('.order_quantity_cart_pr_page').val());
            $('.items_number').text(parseInt(items_number) + quantity);
            var path = '{{ path('app_add_cart', {itemId: product.id}) }}';
            var fullUrl   = window.location.origin + path;
            $.ajax({
                type: "POST",
                url: fullUrl,
                data: {
                    itemId:{{ product.id }},
                    quantity:quantity
                },
                complete: function (data) {
                    if(parseInt($('.items_number').text()) >= 100){
                        $(".items_number").animate({
                            width: '25px',
                            height: '25px',
                            'font-size': '18px',
                            left: '56px'
                        }, 100, function(){
                            $(".items_number").animate({
                                width: "18px",
                                height: "20px",
                                left: '52',
                                'padding-top': "2px",
                                'padding-right': "20px",
                                'font-size': "10px",
                            }, 100);
                        });
                    }else{
                        $(".items_number").animate({
                            width: '25px',
                            height: '25px',
                            'font-size': '18px',
                            left: '56px'
                        }, 100, function(){
                            $(".items_number").animate({
                                width: "18px",
                                height: "18px",
                                left: '52',
                                'padding-top': "0px",
                                'padding-right': "0px",
                                'font-size': "13px",
                            }, 100);
                        });
                    }
                    if(parseInt($('.items_number').text()) >= 10 && parseInt($('.items_number').text()) < 100){
                        $('.items_number').css('text-align','left');
                    }
                    if(parseInt($('.items_number').text()) < 10){
                        $('.items_number').css('text-align','center');
                    }
                    // location.reload();
                }
            });
        });
        $(function () {
            $('.div_fa_question').popover({
                placement: 'right',
                title: 'VAT regulations',
                content: 'The displayed price includes VAT and is only valid for online orders at www.wineandflowers.ro.',
                trigger: 'click'
            })
        })
        $('.description_tab').click(()=>{
            $('.box_content_main_description').show();
            $('.box_content_main_other').hide();
            $('.description_tab').css('background-color','white');
            $('.other_tab').css('background-color','#f1f5fa');
        });
        $('.other_tab').click(()=> {
            $('.box_content_main_description').hide();
            $('.box_content_main_other').show();
            $('.description_tab').css('background-color','#f1f5fa');
            $('.other_tab').css('background-color','white');
        });
        function increment(){
            var quantity = parseInt($('.order_quantity_cart_pr_page').val());
            $('.order_quantity_cart_pr_page').val(quantity+1)
        }
        function decrement() {
            var quantity = parseInt($('.order_quantity_cart_pr_page').val());
            if(quantity > 1 ){
                $('.order_quantity_cart_pr_page').val(quantity-1);
            }
        }
    </script>
{% endblock %}