{% extends 'base.html.twig' %}

{%  block body  %}
    <div class="container div_product_page">
        <p class="title_product_page">
            <strong>Product Title:</strong> {{ product.title }}
        </p>

        <div class="row">
            <div class="col">
                <img src="{{ absolute_url(asset('tablou.jpg')) }}" class="img_product_page">
            </div>

            <div class="col">
                <strong>Product Description:</strong>  {{ product.description }}
            </div>

            <div class="col">
                <p class="product_price_page"> {{ product.price }} $</p>
                <div class="d-inline-flex">
                    <button type="button" class="add_to_cart_button">Add To Cart</button>
                    <form action="{{  path('app_cart') }}">
                        <button type="submit">Buy</button>
                    </form>
                </div>
            </div>

        </div>

    </div>




{#
    <form action="{{ path('app_comment') }}">
        <label for="comment"></label>
        <textarea name="comment" id="comment" cols="40" rows="3"></textarea><br>
        <button type="submit">Comment</button>
    </form>
        {% for comment in product.comment %}
            {% for user in comment.user %}

                <strong>Product Comment:</strong> {{ comment.content }} <br>
                <strong>User That Commented:</strong>  {{ user.name }} {{ user.surname }}<br><br><br><br>
            {% endfor %}
        {% endfor %}

#}
    <script>
        $('.add_to_cart_button').click(()=>{
            var items_number = $('.items_number').text();
            $('.items_number').text(parseInt(items_number) + 1);
            var path = '{{ path('app_add_cart', {itemId: product.id}) }}';
            var fullUrl   = window.location.origin + path;
            $.ajax({
                type: "POST",
                url: fullUrl,
                complete: function (data) {

                }
            });
        });
    </script>


{% endblock %}