{% extends 'base.html.twig' %}

{% block body %}
    <div class="row profile_row_body">
        <div class="col">
            <h2 style="padding-top:100px">Comanzi Active</h2>
            {% for orderedItemArray in orderedItems %}
                {% for date, orderedItemArray2 in orderedItemArray %}
                    {% for orderedItemSingle in orderedItemArray2 %}
                        {% if orderedItemSingle.status == 1 %}
                            <strong> Data Plasarii Comenzii: {{ date }} </strong><br><br>
                            Product Title: {{ orderedItemSingle.product.title }} <br>
                            Quantity: {{ orderedItemSingle.quantity }} <br>
                            Address Delivery: {{ orderedItemSingle.address }} <br>
                            Phone: {{ orderedItemSingle.phone }} <br><br>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            <button class="cancel_order">Anuleaza Comanda</button>
        </div>

        <div class="col">
            <h2 style="padding-top:100px">Comanzi Livrate</h2>
            {% for orderedItem in deliveredItems %}
                {% for date, orderedItemArray in orderedItem %}
                    {% for orderedItemSingle in orderedItemArray %}
                        {% if orderedItemSingle.status == 2 %}
                            <strong> Data Plasarii Comenzii: {{ date }} </strong><br><br>
                            Product Title: {{ orderedItemSingle.product.title }} <br>
                            Quantity: {{ orderedItemSingle.quantity }} <br>
                            Address Delivery: {{ orderedItemSingle.address }} <br>
                            Phone: {{ orderedItemSingle.phone }} <br><br>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>




    <script>
        $('.cancel_order').click(()=>{

            var path = '{{ path('app_cancel_order') }}';
            var fullUrl   = window.location.origin + path;
            $.ajax({
                type: "POST",
                url: fullUrl,
                data: {
                    user : '{{ app.user.email }}',
                },
                complete: function (data) {

                }
            });

            });
    </script>
{% endblock %}