{% extends 'base.html.twig' %}

{% block body %}
    <div class="row profile_row_body">
        <div class="col">
            <h2 style="padding-top:100px">Comanzi Active</h2>
            {% for orderedItem in orderedItems %}
                {% for date, orderedItemArray in orderedItem %}
                    <strong> Data Plasarii Comenzii: {{ date }} </strong><br><br>
                    {% for orderedItemSingle in orderedItemArray %}
                        Product Title: {{ orderedItemSingle.title }} <br>
                        Quantity: {{ orderedItemSingle.quantity }} <br>
                        Address Delivery: {{ orderedItemSingle.address }} <br>
                        Phone: {{ orderedItemSingle.phone }} <br><br>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            <button class="cancel_order">Anuleaza Comanda</button>
        </div>

        <div class="col">
            <h2 style="padding-top:100px">Comanzi Livrate</h2>
            {% for deliveredItem in deliveredItems %}
                {% for date, deliveredItemArray in deliveredItem %}
                    <strong> Data Plasarii Comenzii: {{ date }} </strong><br><br>
                    {% for deliveredItemSingle in deliveredItemArray %}
                        <strong> Data Livrarii Comenzii: {{ deliveredItemSingle.delivered_at }} </strong><br><br>
                        Product Title: {{ deliveredItemSingle.title }} <br>
                        Quantity: {{ deliveredItemSingle.quantity }} <br>
                        Address Delivery: {{ deliveredItemSingle.address }} <br>
                        Phone: {{ deliveredItemSingle.phone }} <br><br>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>




    <script>
        $('.cancel_order').click(()=>{

            var path = '{{ path('app_cancel_order') }}';
            var fullUrl   = window.location.origin + path;
            $.ajax({
                type: "POST",
                url: fullUrl,
                data: {
                    user : '{{ app.user.email }}',
                },
                complete: function (data) {

                }
            });

            });
    </script>
{% endblock %}