{% extends 'base.html.twig' %}

{% block body %}
    {#        {% for message in app.flashes('success') %}#}
    {#            <div class="alert alert-success">#}
    {#                {{ message }}#}
    {#            </div>#}
    {#        {% endfor %}#}
    <div class="container mt-4 mb-4">
        <h2 class="mb-2">My personal data</h2>
        <form action="{{ path('app_update_user_data') }}" class="d-grid">
            <label for="name">Name
                <input type="text" name="name" id="name" placeholder="name" class="form-control" value="{{ app.user.name }}">
            </label>

            <label for="surname">surname
                <input type="text" name="surname" id="surname" placeholder="surname" class="form-control" value="{{ app.user.surname }}"> 
            </label>

            <label for="phone">phone
                <input type="number" name="phone" id="phone" placeholder="phone" class="form-control" value="0{{ app.user.phone }}">
            </label>

            <label for="email">email
                <input type="email" name="email" id="email" placeholder="Email" class="form-control" value="{{ app.user.email }}">
            </label>

            <label for="pass">password
                <input type="password" id="txtNewPassword" placeholder="Enter password" name="pass"
                       class="form-control form-control-psw validate">
            </label>

            <label for="confpass">Confirm Password
                <input type="password" id="txtConfirmPassword" placeholder="Confirm password" name="confpass"
                       class="form-control">
            </label>
            <div class="registrationFormAlert" id="CheckPasswordMatch"></div>
            <div class="alert alert-warning password-alert" role="alert">
                <ul>
                    <li class="requirements leng"><i class="fas fa-check green-text"></i><i
                                class="fas fa-times red-text"></i> Your password must have at least 8 chars.
                    </li>
                    <li class="requirements big-letter"><i class="fas fa-check green-text"></i><i
                                class="fas fa-times red-text"></i> Your password must have at least 1 big letter.
                    </li>
                    <li class="requirements num"><i class="fas fa-check green-text"></i><i
                                class="fas fa-times red-text"></i> Your password must have at least 1 number.
                    </li>
                    <li class="requirements special-char"><i class="fas fa-check green-text"></i><i
                                class="fas fa-times red-text"></i> Your password must have at least 1 special char.
                    </li>
                </ul>
            </div>

            <h2 class="mb-2">Shipping address</h2>

            <label for="city">city
                <input type="text" name="city" id="city" placeholder="City" class="form-control" value="{{ app.user.city }}">
            </label>

            <label for="street">street
                <input type="text" name="street" id="street" placeholder="Street" class="form-control" value="{{ app.user.street }}">
            </label>

            <label for="number">number
                <input type="number" name="number" id="number" placeholder="Number" class="form-control" value="{{ app.user.streetNumber }}">
            </label>

            <label for="building">building
                <input type="number" name="building" id="building" placeholder="Building" class="form-control" value="{{ app.user.building }}"> 
            </label>

            <button type="button" class="check_button mt-4">Save Changes</button>
            <button type="submit" class="save_button" style="display: none"></button>
        </form>
    </div>

    <script>
        $('.check_button').click(() => {
            if ($('#name').val() != '' || $('#surname').val() != '') {
                $('#name').attr("required", "true");
                $('#surname').attr("required", "true");
            }
            if ($('#name').val() == '' && $('#surname').val() == '') {
                $('#name').removeAttr("required");
                $('#surname').removeAttr("required");
            }
            if ($('#city').val() != '' || $('#street').val() != '' || $('#number').val() != '' || $('#building').val() != '') {
                $('#city').attr("required", "true");
                $('#street').attr("required", "true");
                $('#number').attr("required", "true");
                $('#building').attr("required", "true");
            }
            if ($('#city').val() == '' && $('#street').val() == '' && $('#number').val() == '' && $('#building').val() == '') {
                $('#city').removeAttr("required");
                $('#street').removeAttr("required");
                $('#number').removeAttr("required");
                $('#building').removeAttr("required");
            }
            if ($('#txtNewPassword').val() != '') {
                // var pswOk = !$(".password-alert").is(':visible');
                $('#txtConfirmPassword').attr('required', 'true');
                $('#txtNewPassword').attr('required', 'true');
            }
            alert('Data changed! Page will refresh');
            $('.save_button').trigger('click');
        });
        //from web
        function checkPasswordMatch() {
            var password = $("#txtNewPassword").val();
            var confirmPassword = $("#txtConfirmPassword").val();
            if (password !== confirmPassword) {
                $("#CheckPasswordMatch").html("Passwords does not match!");
                $("#CheckPasswordMatch").css('color', 'red');
            } else {
                $("#CheckPasswordMatch").html("Passwords match.");
                $("#CheckPasswordMatch").css('color', 'green');
            }
        };
        $("#txtConfirmPassword").keyup(checkPasswordMatch); //when key up from keyboard
        $(function () {
            var $password = $(".form-control-psw[type='password']");
            var $passwordAlert = $(".password-alert");
            $passwordAlert.hide();
            var $requirements = $(".requirements");
            var leng, bigLetter, num, specialChar;
            var $leng = $(".leng");
            var $bigLetter = $(".big-letter");
            var $num = $(".num");
            var $specialChar = $(".special-char");
            var specialChars = "!@#$%^&*()-_=+[{]}\\|;:'\",<.>/?`~";
            var numbers = "0123456789";

            $requirements.addClass("wrong");
            $password.on("focus", function () {
                $passwordAlert.show();
            });
            $password.on("input blur", function (e) {
                var el = $(this);
                var val = el.val();
                $passwordAlert.show();

                if (val.length < 8) {
                    leng = false;
                } else if (val.length > 7) {
                    leng = true;
                }


                if (val.toLowerCase() == val) {
                    bigLetter = false;
                } else {
                    bigLetter = true;
                }

                num = false;
                for (var i = 0; i < val.length; i++) {
                    for (var j = 0; j < numbers.length; j++) {
                        if (val[i] == numbers[j]) {
                            num = true;
                        }
                    }
                }

                specialChar = false;
                for (var i = 0; i < val.length; i++) {
                    for (var j = 0; j < specialChars.length; j++) {
                        if (val[i] == specialChars[j]) {
                            specialChar = true;
                        }
                    }
                }

                // console.log(leng, bigLetter, num, specialChar);

                if (leng == true && bigLetter == true && num == true && specialChar == true) {
                    $(this).addClass("valid").removeClass("invalid");
                    $requirements.removeClass("wrong").addClass("good");
                    $passwordAlert.removeClass("alert-warning").addClass("alert-success");
                    $passwordAlert.hide();

                }
                else {
                    $(this).addClass("invalid").removeClass("valid");
                    $passwordAlert.removeClass("alert-success").addClass("alert-warning");

                    if (leng == false) {
                        $leng.addClass("wrong").removeClass("good");
                    } else {
                        $leng.addClass("good").removeClass("wrong");
                    }

                    if (bigLetter == false) {
                        $bigLetter.addClass("wrong").removeClass("good");
                    } else {
                        $bigLetter.addClass("good").removeClass("wrong");
                    }

                    if (num == false) {
                        $num.addClass("wrong").removeClass("good");
                    } else {
                        $num.addClass("good").removeClass("wrong");
                    }

                    if (specialChar == false) {
                        $specialChar.addClass("wrong").removeClass("good");
                    } else {
                        $specialChar.addClass("good").removeClass("wrong");
                    }

                }

                $(e.target).blur(()=>{
                    if ($('#txtNewPassword').val() === '') {
                        $passwordAlert.hide();
                    }
                });
            });
        });
        $(window).click((e)=>{
                if ($(e.target).attr('id') != 'txtNewPassword' && $('#txtNewPassword').val() === '') {
                    $('.password-alert').hide();
                }
        });
        //end from web
        $(function (e){
            $(e.target).blur(()=>{
                $('#name').attr('required','false');
                $('#surname').attr('required','false');
            });
        });
    </script>

{% endblock %}